.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  height: 100%;
}

.tableContainer {
  margin-top: 2rem;
}

.paginationContainer {
  margin-top: 2rem;
  align-self: flex-end;
}

.actions {
  display: flex;
}

.actions > button {
  margin-left: 1rem;
}
